<div
  class="bg-white text-zinc-900 dark:text-black text-center lg:text-start xl:py-3"
>
  <footer class="flex items-center justify-center px-16 md:px-8 lg:px-28 z-50">
    <div class="grid grid-cols-12 justify-between items-center">
      <div class="col-span-12 lg:col-span-4 flex">
        <p class="text-gray-400">
          <strong>Desenvolvido com</strong> Angular 17, Tailwind e AOS
        </p>
      </div>
      <div
        class="col-span-12 lg:col-span-4 lg:col-start-9 flex justify-center lg:justify-end"
      >
        <p class="mb-lg-0 text-gray-400">Ⓒ <strong>2024 Elton Claus</strong></p>
      </div>
    </div>
  </footer>
</div>
